<div class="mb-3">
  <nav class="nav header light">
    <div class="container">
      <div class="logo">
        <a title="Sentive Logo" href="/"><img draggable="false" alt="Sentive Logo" src="" /></a>
      </div>
      <a class="navbar-brand" href="" target="">
        <strong>Sentive AI </strong>
      </a>
      <span data-header-toggle="true" class="mobile_menu_icon"></span>
      <ul>
        <li><a title="Home" href="">Home</a></li>
        <li>
          <a title="API Documentation" href="">Documentation</a>
        </li>
        <li><a title="Frequently Asked Questions" href="">FAQ</a></li>
        {% if request.user.is_authenticated%}
        <li class="action go_to_dashboard">
          <a title="Go to dashboard" href="{% url 'core:dashboard'%}">Dashboard</a>
        </li>
        <li class="action login">
          <a title="Log out to your account" href="{% url 'account_logout' %}">Log out</a>
        </li>
        {% else %}
        <li class="action login">
          <a title="Log in to your account" href="{% url 'account_login' %}">Log In</a>
        </li>
        <li class="action cta">
          <a title="Start using the API" href="{% url 'account_signup' %}">Sign Up Free</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</div>