{% extends "layouts/base.html" %}
{% load static %}

{% block stylesheets %}

{% endblock %}

{% block content %}

<div class="strip strip-alt dashboard gray_bg_all">
    <div class="center-content">
        <h1>Dashboard</h1>
        <div class="page-container">

            <aside id="sidebar" class="sidebar documentation">
                <ul class="sidebar_nav documentation new">

                    <section class="doc_menu_box controlpanel">

                        <li class="sidebar_header selected"><a href="/dashboard">
                                <div class="doc_inner"><span class="helvetica">Dashboard</span></div>
                            </a></li>

                        <br>

                        <li class="sidebar_header no_border_top"><a href="/account">
                                <div class="doc_inner"><span class="helvetica">Account</span></div>
                            </a></li>

                        <li class="sidebar_header no_border_top"><a href="/usage">
                                <div class="doc_inner"><span class="helvetica">API Usage</span></div>
                            </a></li>

                    </section>

                    <br>

                    <section class="doc_menu_box">

                        <li class="sidebar_header"><a href="/signout">
                                <div class="doc_inner less"><span class="helvetica fw_500">Sign Out</span></div>
                            </a></li>

                    </section>

                </ul>
            </aside>
        </div>
    </div>
</div>


{% endblock %}


{% block javascripts %}

{% endblock %}