{% extends "layouts/base.html" %}
{% load static %}

{% block stylesheets %}

{% endblock %}

{% block content %}

<div class="strip strip-alt dashboard gray_bg_all">
    <div class="center-content">
        <h1>Dashboard</h1>
        <div class="page-container">

            <div style="margin: 0 auto; width: 990px">
                <form method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                     {{ form.as_p }}
                   <button type="submit">Submit New Post</button>
                </form>
                <br>
                <br>
                <h2>{{ origin_name }} (original)</h2>
                {% if origin_name %}
                <img src="{{ MEDIA_URL }}{{ origin_name }}">
                {% endif %}
                <br>
                <br>
                <h2>{{ thumb_name }} (150x150)</h2>
                {% if thumb_name %}
                <img src="{{ MEDIA_URL }}{{ thumb_name }}">
                {% endif %}
            </div>

        </div>
    </div>
</div>


{% endblock %}


{% block javascripts %}

{% endblock %}